body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Upper Bar */
.upper-bar {
    background-color: #08526D;
    color: #FFF;
}
.upper-bar .info {
    margin: 15px 0;
}
.upper-bar .phone {
    color: #BFBDAE;
}
.upper-bar .t-r {
    text-align: right;
    color: #BFBDAE;
}
.upper-bar .t-r > span:first-child {
    margin-right: 20px;
}
/* End Upper Bar */

/* Start NavBar */
.navbar-expand-lg .navbar-collapse {
    padding: 15px;
}
.navbar-brand {
    font-size: 40px;
}
.navbar-brand > span:first-child {
    color: #08526D;
    font-weight: bold;
}
.navbar-brand > span:last-child {
    color: #ec1c23;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 18px;
}
.navbar-nav .active > .nav-link {
    color: #ec1c23 !important;
}
/* Start NavBar */

/* Start Slider */
.slider .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: left;
}
@media(max-width: 768px){
    .slider .carousel-inner {
        justify-content: center;
    }
}
.slider .carousel-inner h1 {
    position: absolute;
    color: #FFF;
    z-index: 3;
    font-size: 70px;
    max-width: 1000px;
    left: 100px;
    line-height: 1.4;
}
@media(max-width: 800px){
    .slider .carousel-inner h1 {
        left: auto;
        font-size: 40px;
        max-width: 100%;
        text-align: center;
    }
}
.slider .carousel-inner h1 span {
    background-color: #ec1c23;
    color: #FFF;
    display: inline-block;
    padding: 2px 10px;
}
.slider .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}
.slider .carousel-item {
    background-size: cover;
}
.slider .carousel-one {
    background-image: url('../imgs/slider01.jpg')
}
.slider .carousel-two {
    background-image: url('../imgs/slider02.jpg')
}
.slider .carousel-three {
    background-image: url('../imgs/slider03.jpg')
}
.slider .carousel-indicators li {
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}
/* End Slider */

/* Start Features */
.feats {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.feats i{
    background-color: #ec1c23;
    color: #FFF;
    padding: 10px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    margin-bottom: 20px;
}
.feats h3 {
    color: #08526D;
    font-size: 25px;
    font-weight: bold;
}
.feats p {
    color: rgb(141, 140, 135);
}
/* End Features */

/* Start Overview */
.overview {
    background-color: #F0F5F7;
    padding: 100px;
}
.overview h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.overview p {
    line-height: 2;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(110, 110, 109);
}
@media(max-width: 768px){
    .overview {
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .overview h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .overview p {
        width: 100%;
    }
}
.overview span {
    letter-spacing: 3px;
    display: block;
    font-size: 20px;
    color: rgb(110, 110, 109);
    margin-bottom: 30px;
}
.overview button {
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
}
/* End Overview */

/* Start Featured Work */
.featured-work {
    padding: 100px 0
}
.featured-work h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.featured-work p {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color: #6a6a6a;
}
.featured-work ul {
    margin-top: 40px;
    margin-bottom: 50px
}
.featured-work ul li {
    color: #08526d;
    border: 2px solid #08526d;
    padding: 10px 20px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
.featured-work ul li.active,
.featured-work ul li:hover {
    background-color: #ec1c23;
    border: 2px solid #ec1c23;
    color: #FFF
}
.featured-work ul li:hover {
    cursor: pointer
}
.featured-work .shuffle-imgs .row {
    margin: 0
}
.featured-work .shuffle-imgs .row .col-md {
    padding: 0;
    transition: all .5s ease-in-out;
}
.featured-work .row img {
    width: 100%;
    transition: all .5s ease-in-out;
}
.featured-work .row img:hover {
    transform: scale(.9);
    border: 3px solid #ec1c23;
}
/* End Featured Work */

/* Start Latest Posts */
.latest-posts {
    padding: 0 0 100px
}
.latest-posts h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.latest-posts .section-description {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 45px;
    color: #6a6a6a;
}
.latest-posts .card {
    margin-bottom: 30px
}
.latest-posts .card .card-title {
    font-size: 20px;
    line-height: 1.5;
    color: #08526d
}
.latest-posts .card .card-text {
    color: #787878;
    margin-bottom: 5px
}
.latest-posts .card .card-link {
    color: #ed1d24;
    font-weight: bold
}
/* End Latest Posts */

/* Start Testimonials */
.testimonials {
    background-size: cover;
    background-image: url('../imgs/testimonial.jpg');
    position: relative
}
.testimonials .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}
.testimonials .container {
    position: relative;
    z-index: 3
}
.testimonials .carousel-caption {
    top: 50%;
    margin-top: -158px
}
@media(max-width: 768px) {
    .testimonials .carousel-caption {
        margin-top: -200px;
    }
}
.testimonials .carousel-caption img {
    margin-bottom: 20px
}
.testimonials .carousel-caption h3 {
    margin-bottom: 5px
}
.testimonials .carousel-caption h3 + span {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
}
.testimonials .carousel-indicators li {
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}
/* End Testimonials */

/* Start Pricing Table */
.pricing-table {
    padding: 100px 0 100px;
    background-color: #F7F7F7;
}
.pricing-table h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing-table .section-description {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 65px;
    color: #6a6a6a;
}
.card-body {padding: 0}

.pricing-table .card {
    margin-bottom: 30px;
}
.pricing-table .card .card-title {
    font-size: 25px;
    margin-top: 40px;
    font-weight: bold;
    color: #08526d;
}
.pricing-table .card .card-text {
    background-color: #F7F7F7;
    padding: 10px;
    margin: 30px 0 10px;
    color: #08526D;
    font-size: 30px;
    font-weight: bold;
}
.pricing-table .card .card-text span {
    font-size: 16px;
}
.pricing-table .list-group-item {border: none}

.pricing-table .card .card-link {
    color: #FFF;
    font-weight: bold;
    background-color: #ed1d24;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.pricing-table .cor {
    position: relative;
    top: -20px;
}
@media(max-width: 768px){
    .pricing-table .cor {
        top: 0;
    }
}
.pricing-table .cor .card-text {
    background-color: #ed1d24;
    color: #FFF;
}
.pricing-table .cor .card-link {
    background-color: #08526D;
}
/* End Pricing Table */

/* Start Why Us */
.why-us {
    overflow: hidden;
}
.why-us img {
    max-width: 100%;
}
.why-us .col-lg-6 {
    padding: 0;
}
.why-us .col-lg-6:last-child {
    background-color: #08526D;
    color: #FFF;
    padding: 30px;
}
.why-us h2 {
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.why-us a {
    background-color: #ed1d24;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
}
/* End Why Us */

/* Start Stats */
.stats {
    padding: 100px;
}
.stats i {
    color: #08526D;
}
.stats span {
    display: block;
    color: #08526d;
    font-size: 40px;
    font-weight: bold;
}
.stats small {
    color: #ed1d24;
    margin-bottom: 20px;
    display: block;
}
/* End Stats */

/* Start Contact */
.contact {
    padding: 50px;
    background-color: #ed1d24;
    color: #FFF;
}
.contact a {
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
}
@media(max-width: 768px){
    .contact a {
        display: block;
        margin-top: 20px;
    }
}
/* End Contact */

/* Start Footer */
.footer {
    padding: 100px;
    font-size: 14px;
}
.footer .site-info span:first-of-type {
    color: #08526D;
    font-weight: bold;
}
.footer .site-info span:last-of-type {
    color: #ec1c23;
}
.footer .site-info p {
    margin-top: 30px;
    color: rgb(102, 101, 101);
}
.footer .site-info a {
    color: #08526D;
    font-weight: bold;
}
.footer .site-info a:before {
    font-family: 'FontAwesome';
    content: '\f138';
    margin-right: 5px;
}
.footer .the-links h3,
.footer .foot-contact h3 {
    color: #08526D;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}
.footer .the-links ul li:before {
    font-family: 'FontAwesome';
    content: '\f054';
    margin-right: 5px;
    font-size: 12px;
}
.footer .foot-contact address {
    margin-bottom: 22px;
}

@media(max-width: 768px){
    .footer {
        padding: 10px;
    }
    .footer h2,
    .footer h3 {
        margin-top: 40px;
    }
}
/* End Footer */

/* Start Copyright */
.copyright {
    padding: 10px;
    border-top: 1px solid #eee;
}
.copy {
    width: 50%;
    float: left;
}
.copyright ul {
    margin: 0;
    float: right;
}
.copyright ul li {
    display: inline-block;
    margin-left: 20px;
}
.copyright ul li a {
    color: #333;
    font-size: 18px;
}
/* End Copyright */